  <form method="post" action="/planets">
  <input type="text" name="planet[name]" autofocus placeholder ="Name">
  <input type="text" name="planet[image]" placeholder ="Image">
  <input type="text" name= "planet[orbit]" placeholder ="Orbit">
  <input type="text" name ="planet[diameter]" placeholder ="Diameter">
  <input type="text" name ="planet[mass]" placeholder ="Mass">
  <input type="text" name ="planet[moons]" placeholder ="Moons">
  <button>planet me!</button>
  </form>