<form method="post" action="/mountains">
  <input type="text" name="mountain[name]" autofocus placeholder ="Name">
  <input type="text" name="mountain[province]" placeholder ="Province">
  <input type="text" name= "mountain[range]" placeholder ="Range">
  <input type="text" name ="mountain[elevation]" placeholder ="Elevation">
  <input type="text" name ="mountain[image]" placeholder ="Image">
  <button>mountain me!</button>
  </form>